/* === IMPORTS === */
@import './variables.css';
@import './base/reset.css';
@import './base/typography.css';
@import './base/utilities.css';

/* === GLOBAL OVERRIDES === */
body {
  background-color: var(--secondary-color);
}
